# Environment variables
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database dumps
*.dump
*.bson
*.json

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
